.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EEE9E8;
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.navLogo {
    width: 6em;
}

.webTitle {
    font-family: "Nanum Myeongjo";
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.5em;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {

    .navLogo {
        width: 3.5em;
    }

    .webTitle {
        font-size: 1.2em;
    }

}