.subNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eaeaea;
}

.room {
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}